.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dots-pattern{
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#f5a8ff 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#f5c6ff 0.9500000000000001px, #ffffff 0.9500000000000001px);
  background-size: 38px 38px;
  background-position: 0 0,19px 19px;
}


.linesbg{
  background-color: #fbf4ff;
  opacity: 0.8;
  background-image:  linear-gradient(#ecadff 1px, transparent 1px), linear-gradient(to right, #ecadff 1px, #fbf4ff 1px);
  background-size: 20px 20px;
}

.isometric{
  background-color: #fff6ff;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #fdf0ff 12%, transparent 12.5%, transparent 87%, #fdf0ff 87.5%, #fdf0ff), linear-gradient(150deg, #fdf0ff 12%, transparent 12.5%, transparent 87%, #fdf0ff 87.5%, #fdf0ff), linear-gradient(30deg, #fdf0ff 12%, transparent 12.5%, transparent 87%, #fdf0ff 87.5%, #fdf0ff), linear-gradient(150deg, #fdf0ff 12%, transparent 12.5%, transparent 87%, #fdf0ff 87.5%, #fdf0ff), linear-gradient(60deg, #fdf0ff77 25%, transparent 25.5%, transparent 75%, #fdf0ff77 75%, #fdf0ff77), linear-gradient(60deg, #fdf0ff77 25%, transparent 25.5%, transparent 75%, #fdf0ff77 75%, #fdf0ff77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;}

.box{

  background-color: #282c34;
  height: 100px;
  width:100px;
}